<div class="banner">
    <div class="background">
        {%- if include.image_folder -%}
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" srcset="{{include.image_folder}}/480.jpg 480w, {{include.image_folder}}/720.jpg 720w, {{include.image_folder}}/960.jpg 960w, {{include.image_folder}}/1440.jpg 1440w, {{include.image_folder}}/1920.jpg 1920w" sizes="(max-width: 720px): 480px, (min-width: 720px) and (max-width:960px): 720px, (min-width: 960px) and (max-width:1440px): 960px, (min-width: 1440px) and (max-width: 1920px): 1440px,(min-width:1920px): 1920px" loadyng="lazy">
        {%- elsif include.image -%}
        <img src="{{include.image}}" loading="lazy">
        {%- endif -%}
    </div>
    <div class="overlay"></div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path class="elementor-shape-fill" d="M737.9,94.7L0,0v100h1000V0L737.9,94.7z"></path>
    </svg>
    <div class="banner-content">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <h1 class="mb-0">{{ include.title }}</h1>
                    <hr class="border-primary my-0">
                </div>
                <div class="col"></div>
            </div>
            <h3 class="mb-0">{{ include.subtitle }}</h3>
        </div>

    </div>
</div>