<div class="banner">
    <div class="background">
        {%- if include.image -%}
        <img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{include.image}}" class="lazyload">
        {%- elsif include.image_folder -%}
        <img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{include.image_folder}}/original.jpg" data-srcset="{{include.image_folder}}/480.jpg 480w, {{include.image_folder}}/960.jpg 960w, {{include.image_folder}}/1440.jpg 1440w, {{include.image_folder}}/1920.jpg 1920w" class="lazyload">
        {%- endif -%}
    </div>
    <div class="overlay"></div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 100" preserveAspectRatio="none">
        <path class="elementor-shape-fill" d="M737.9,94.7L0,0v100h1000V0L737.9,94.7z"></path>
    </svg>
    <div class="banner-content">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <h1 class="mb-0">{{ include.title }}</h1>
                    <hr class="border-primary my-0">
                </div>
                <div class="col"></div>
            </div>
            <h3 class="mb-0">{{ include.subtitle }}</h3>
        </div>

    </div>
</div>