{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="card h-100 post-card">
    {%- if include.post.image -%}
    <img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{include.post.image}}" class="card-img-top lazyload" alt="{{include.post.title}}">
    {%- elsif include.post.image_folder -%}
    <img data-sizes="auto" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="{{incinclude.post.image_folder}}/original.jpg" data-srcset="{{include.post.image_folder}}/480.jpg 480w, {{include.post.image_folder}}/960.jpg 960w, {{include.post.image_folder}}/1440.jpg 1440w, {{include.post.image_folder}}/1920.jpg 1920w" class="lazyload">
    {%- endif -%}
    <div class="card-body">
      <div class="row h-100">
        <div class="col-12 mb-3">
          <h5 class="card-title post-card-title">{{include.post.title}}</h5>
          <p class="card-text post-meta">
            <span>
              {{include.post.date | date: date_format}}
            </span>
            {%- if include.post-author -%}
            • <span>{{ include.post-author }}</span>
            {%- endif -%}
          </p>
          {%- if site.show_excerpts -%}
          <div class="post-first-lines">
            {{ post.excerpt }}
          </div>
          {%- endif -%}
        </div>
        <div class="col-12 mt-auto text-center">
           <a href="{{ include.post.url | relative_url }}" class="btn btn-primary">Veure</a>
        </div>
      </div>
    </div>
  </div>